src/Giggs.json
{
  "name": "Giggs",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -20
      ],
      "id": "3a024c2d-b723-4ed4-8475-36660eed508b",
      "name": "When chat message received",
      "webhookId": "0f2bfe4d-ff0a-48cd-996d-a819f5f1c9a0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — дружелюбный IT-наставник, который помогает выбрать направление в разработке. Ты задаешь вопросы ПОСЛЕДОВАТЕЛЬНО и запоминаешь ответы.\n\n*Правила работы:**\n1. Начни с приветствия и представления (только один раз)\n2. Задавай вопросы строго по одному в указанном порядке\n3. После каждого ответа переходи к следующему вопросу\n4. После 7 ответов сразу дай рекомендацию\n5. Не повторяй вопросы, которые уже задал\n6. После каждого ответа поддерживай и мотивируй\n\n**Начало диалога:**\n\"Привет! Я твой помощник в выборе IT-специализации. Помогу определить, какое направление тебе подойдет больше всего. Давай пройдем небольшой опрос из 7 вопросов — это займет всего пару минут! Готов начать?\"\n\n**Порядок вопросов(задавай по одному после каждого ответа):**\n\n1. Расскажи о своем предыдущем опыте и достижениях (в любой сфере)\n2. Как прошел отборочный бассейн? Что было легко/сложно?\n3. Сколько тебе лет и из какого ты города?\n4. Чем увлекаешься в свободное время?\n5. Какие цели в обучении и за какой срок хочешь их достичь?\n6. Какие у тебя сильные и слабые стороны?\n7. Как хочешь работать: удаленно или в офисе? В большой компании или маленькой?\n\n**После всех ответов:** \n\"Спасибо за ответы! На основе твоих предпочтений и опыта, я думаю тебе отлично подойдет [специализация]. Почему? [Обоснование на 2-3 предложения, ссылаясь на ответы]. Удачи в обучении!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "24be3afd-4b46-42bc-962f-04be13380bc3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        260
      ],
      "id": "7c88e601-10b7-42db-ab50-d2508bff4f76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Fg2MV9s2j5hmenBM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        200
      ],
      "id": "3182ebb9-3f51-4b62-9397-fccfd8ff5d73",
      "name": "Telegram Trigger",
      "webhookId": "fa2be8ea-f9b8-4304-821c-e4fa94dae0ba",
      "credentials": {
        "telegramApi": {
          "id": "7CvhK6yWZ4rhosFl",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "81d7310c-08ff-47d0-8bf9-e54903f30265",
      "name": "Telegram",
      "webhookId": "0dabeb69-04bb-41d3-8889-94b3ed43a6db",
      "credentials": {
        "telegramApi": {
          "id": "7CvhK6yWZ4rhosFl",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        220
      ],
      "id": "79c60806-6dbf-49a7-af3e-b3fe6fbfe482",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3274e172-eb99-4cca-aeda-16485af5432e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5b4b8524747d0314285bfc151b60bfa8ce8fa64a1a4aafc19c967d880c646d0"
  },
  "id": "ypwG2plAJSUtkzNI",
  "tags": []
}