src/my_assistant.json
{
  "name": "my_assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "cab8a4da-ac04-41c3-8e3c-26f388223479",
      "name": "When chat message received",
      "webhookId": "0f2bfe4d-ff0a-48cd-996d-a819f5f1c9a0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — дружелюбный IT-наставник, который помогает выбрать направление в разработке. Ты задаешь вопросы ПОСЛЕДОВАТЕЛЬНО и запоминаешь ответы.\n\n*Правила работы:**\n1. Начни с приветствия и представления (только один раз)\n2. Задавай вопросы строго по одному в указанном порядке\n3. После каждого ответа переходи к следующему вопросу\n4. После 7 ответов сразу дай рекомендацию\n5. Не повторяй вопросы, которые уже задал\n6. После каждого ответа поддерживай и мотивируй\n\n**Начало диалога:**\n\"Привет! Я твой помощник в выборе IT-специализации. Помогу определить, какое направление тебе подойдет больше всего. Давай пройдем небольшой опрос из 7 вопросов — это займет всего пару минут! Готов начать?\"\n\n**Порядок вопросов(задавай по одному после каждого ответа):**\n\n1. Расскажи о своем предыдущем опыте и достижениях (в любой сфере)\n2. Как прошел отборочный бассейн? Что было легко/сложно?\n3. Сколько тебе лет и из какого ты города?\n4. Чем увлекаешься в свободное время?\n5. Какие цели в обучении и за какой срок хочешь их достичь?\n6. Какие у тебя сильные и слабые стороны?\n7. Как хочешь работать: удаленно или в офисе? В большой компании или маленькой?\n\n**После всех ответов:** \n\"Спасибо за ответы! На основе твоих предпочтений и опыта, я думаю тебе отлично подойдет [специализация]. Почему? [Обоснование на 2-3 предложения, ссылаясь на ответы]. Удачи в обучении!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        304,
        32
      ],
      "id": "cbf1284c-ecf5-4c01-b233-2968439c9483",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        288
      ],
      "id": "01c812f5-e112-40bc-9cea-f4daa8e8cc13",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sUCRoi1DUFdSWDHE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        224
      ],
      "id": "2180c544-fde9-4437-bfea-63088f10330b",
      "name": "Telegram Trigger",
      "webhookId": "fa2be8ea-f9b8-4304-821c-e4fa94dae0ba",
      "credentials": {
        "telegramApi": {
          "id": "2kmYzwIcvqzrf5a9",
          "name": "giggs"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        32
      ],
      "id": "2685cee1-8ca4-44d9-b8f3-e80975a18366",
      "name": "Telegram",
      "webhookId": "0dabeb69-04bb-41d3-8889-94b3ed43a6db",
      "credentials": {
        "telegramApi": {
          "id": "2kmYzwIcvqzrf5a9",
          "name": "giggs"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        240
      ],
      "id": "40e391ae-7a62-4ba7-8d85-da83576ccee7",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e4f8a1a-1b7a-45a6-b887-16cfc9612010",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "013a782f068687f7fd7157f2818493a208c28397ff8ef3c297afe7f9fed27b37"
  },
  "id": "J5W2hofKIoLmLTwX",
  "tags": []
}